@import url('https://fonts.googleapis.com/css?family=Mukta');

html,
body {
    height:100%;
    font-family: 'Mukta', sans-serif;
    background-color: #efefef;
    color: #777;
    margin: 0;
}

/*--------------------------------------------------Navbar---------------------------*/

.navbar {
    height:75px;
    border:none;
    background-color: #0e2f63;
    color: #fff;
}

.navbar-nav li a:hover{
    background-color: #0e2f63;
    color:#fca905;
}

.navbar-nav li a {
    color: #fff;
    font-size: 1.5em;
    margin-top: 14px;
}

.navbar-background {
    background-color: #0e2f63;
}




/*--------------------------------------------------Homepage---------------------------*/

.index-body {
    margin:0;
    padding-top: 75px;
}

.index-body p {
    font-size:1.5em;
    padding-top:10px;
}

.img-fluid {
    max-width: 100%;
    height:auto;
}

.index-image-link {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*--------------------------------------------------Services---------------------------*/

.services-body {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 25px;
}

.services-img-link {
    font-size: 1.5em;
    text-align: center;
}

.services-img-link:hover {
    text-decoration: none;
    color: #fca905;
}

.services-top-text {
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    padding-top:0;
}

.modal-header {
    background-color: #0e2f63;
    color: #fff;
}

.modal-body {
    background-color: #efefef;
}

.modal-body p {
    font-size: 1.3em;
}

.modal-footer {
    background-color: #0e2f63;
}

.btn-primary {
    background-color: #fca905;
    
}

.btn-primary:hover {
    background-color: #e39802;
    
}


/*--------------------------------------------------Testimonials---------------------------*/

.testimonial-body {
    padding-top: 75px;
    padding-bottom: 50px;
}

.item {
    padding:25px;
}

.slide-img {
    margin-bottom: 10px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left {
    color: #0e2f63;
}

.carousel-control.right {
    color: #0e2f63;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators li {
    background-color: #0e2f63;
}

.slide-quote {
    font-size: 2em;
}
/*--------------------------------------------------Hints&Tips---------------------------*/

.hintstips-text {
    font-size: 2em;
    text-align: center;
    padding-top:100px;
}

.video-clip {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*--------------------------------------------------Contact Us---------------------------*/

.contact-background {
    margin-top: 100px;
    font-size: 1.3em;
   
}

.contact-main-body {
    padding-top: 25px;
    padding-bottom: 25px;
    
}

#map {
    height:350px;
    width:100%;
    margin-bottom: 25px;
}

.submit-btn {
    text-align: center;
    margin-top: 25px;
}

.contact-text {
    font-size: 1.3em;
    margin-bottom: 30px;
}

/*--------------------------------------------------Footer---------------------------*/

.footer {
    background-color: #0e2f63;
    min-height:50px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.footer a{
    font-size: 1.3em;
    color: #fff;
}

.footer-link {
    margin-top: 10px;
}

.footer-link a:hover {
    text-decoration: none;
    color: #fca905;
}

.btn-warning {
    background-color: #fca905;
    margin-top: -10px;
}

.btn-warning:hover {
    background-color: #e39802;
}

.footer-btn {
    margin-top: 10px;
}

.footer-btn a:hover {
    color:#fff;
}

/*-----------------------------------------------Media Query--------------------*/

@media only screen and (min-width: 768px) {
    .main-body {height:110vh; padding-top: 130px}
    .contact-background {height:95vh;}
    .hintstips-background {height:120vh; padding-top: 50px}
    .testimonial-body {height:120vh; padding-top: 150px}
}

@media only screen and (min-width: 992px) {
    .index-body {height:90vh; padding-top: 10vh}
    .index-image-link {margin-top:50px;}
    .services-body {height:92vh;}
    .contact-background {height:76vh;}
    .hintstips-background {height:90vh; padding-top: 2vh}
    .testimonial-body {height:90vh; padding-top: 20vh}
}
/*
@media only screen and (min-width: 1200px) {
    .index-body {height:92vh; padding-top: 80px}
    .index-image-link {margin-top:60px;}
    .contact-background {height:78vh;}
    .hintstips-background {height:90vh; padding-top: 10px}
    .testimonial-body {height:90vh; padding-top: 150px}
}*/

@media only screen and (max-width: 768px) {
    .footer-btn {margin-top: 25px;}
}

