
html,
body {
    height:100%;
}

body {
  display: flex;
  flex-direction: column;
}



/*--------------------------------------------------Navbar---------------------------*/

.navbar {
    height:75px;
    margin-bottom:0;
    border:none;
    padding:0;
  /*  background: url(assets/Plumbing.jpg);  */
    background-color: #0e2f63;
    box-shadow: 0 .5rem 1rem rgba(14,47,99,.5);
    z-index: 10;
    color: #fff;
    font-family: 'Mukta', sans-serif;
}


.navbar-nav li a:hover{
    background-color: #0e2f63;
    color:#fca905;
}

.navbar-nav li a {
    color: #fff;
    font-size: 1.5em;
}

.navbar-header {
    padding-bottom:25px;
}

.nav-bg{
    background-color: #0e2f63;
}




/*--------------------------------------------------Homepage---------------------------*/

.mainbody {
    flex: 1 0 auto;
    background-color: #efefef;
    margin:0;
    padding-top: 75px;
    font-family: 'Mukta', sans-serif;
    color: #777;
}

.mainbody p {
    font-size:18px;
}

.img-fluid {
    max-width: 100%;
    height:auto;
}

.servlink {
    text-align: center;
    margin-bottom: 20px;
}

.serviceslink {
    color:#777;
    font-weight: bold;
    font-size: 1.5em;
}

.serviceslink:hover {
    text-decoration: none;
    color: #fca905;
}

.logolink {
    margin-bottom: 25px;
}

/*--------------------------------------------------Services---------------------------*/

.servicesbody {
    flex: 1 0 auto;
    background-color: #efefef;
    margin:0;
    padding-top: 75px;
    padding-bottom: 25px;
    font-family: 'Mukta', sans-serif;
}

.servicelink {
    text-align: center;
    margin-bottom: 20px;
}

.topservicelink {
    text-align: center;
    margin-bottom: 5px;
}

.service {
    color:#777;
    font-weight: bold;
    font-size: 1.5em;
}

.service:hover {
    text-decoration: none;
    color: #fca905;
}

.servicetext {
    font-family: 'Mukta', sans-serif;
    font-size: 2em;
    color: #777;
    text-align: center;
    margin-top: 0;
    padding-top:0;
}

.modal-header {
    background-color: #0e2f63;
    color: #fff;
}

.modal-body {
    background-color: #efefef;
    color: #777;
}

.modal-body p {
    font-size: 1.3em;
}

.modal-footer {
    background-color: #0e2f63;
}

.btn-primary {
    background-color: #fca905;
    color: #fff;
}

.btn-primary:hover {
    background-color: #e39802;
    color: #fff;
}


/*--------------------------------------------------Testimonials---------------------------*/

.testimonialbody {
    flex: 1 0 auto;
    background-color: #efefef;
    padding-top: 75px;
    padding-bottom: 50px;
}

.item {
    font-family: 'Mukta', sans-serif;
    padding:25px;
}

.slidepic {
    margin-bottom: 10px;
}

.carousel-control {
    width: 6%
}

.carousel-control.right {
    background-image: linear-gradient(to right,rgba(14,47,99,.0001) 0,rgba(14,47,99,.5) 100%);
}

.carousel-control.left {
    background-image: linear-gradient(to left,rgba(14,47,99,.0001) 0,rgba(14,47,99,.5) 100%);
}

.carousel-indicators {
    bottom: -10px;
}


/*--------------------------------------------------Hints&Tips---------------------------*/

.videoclips {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hintstipsbg {
    flex: 1 0 auto;
    background-color: #efefef;
}

.hintstipstext {
    font-family: 'Mukta', sans-serif;
    font-size: 2em;
    color: #777;
    text-align: center;
    padding-top:75px;
}

/*--------------------------------------------------Contact Us---------------------------*/

.contactbg {
    flex: 1 0 auto; 
    background-color: #efefef;
    color: #777;
}

.contactmainbody {
    padding-top: 75px;
    padding-bottom: 25px;
}

#map {
    height:350px;
    width:100%;
    margin-bottom: 25px;
}

.submit {
    text-align: center;
    font-family: 'Mukta', sans-serif;
}

/*--------------------------------------------------Footer---------------------------*/


.foot {
    flex-shrink: 0;
    background-color: #0e2f63;
    min-height:50px;
    box-shadow: 0 -.5rem 1rem rgba(14,47,99,.5);
    z-index: 10;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.foot a{
    color:#fff;
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Mukta', sans-serif;
}

.footitem a:hover {
    text-decoration: none;
    color: #fca905;
}

.btn-warning {
    background-color: #fca905;
    margin-top: -10px;
}

.btn-warning:hover {
    background-color: #e39802;
}

.footitem {
    margin-top: 10px;
}

.footitem1 {
    margin-top: 10px;
}

.footitem1 a:hover {
    color:#fff;
}
