@import url('https://fonts.googleapis.com/css?family=Mukta');

html,
body {
    height:100%;
    font-family: 'Mukta', sans-serif;
    background-color: #efefef;
    color: #777;
    margin: 0;
}

/*--------------------------------------------------Navbar---------------------------*/

.navbar {
    height:75px;
    border:none;
    background-color: #0e2f63;
    color: #fff;
}

.navbar-nav li a:hover{
    background-color: #0e2f63;
    color:#fca905;
}

.navbar-nav li a {
    color: #fff;
    font-size: 1.5em;
    margin-top: 14px;
}

.nav-bg{
    background-color: #0e2f63;
}




/*--------------------------------------------------Homepage---------------------------*/

.main-body {
    margin:0;
    padding-top: 75px;
}

.main-body p {
    font-size:1.5em;
    padding-top:10px;
}

.img-fluid {
    max-width: 100%;
    height:auto;
}

.logo-link {
    margin-top: 20px;
    margin-bottom: 50px;
}

/*--------------------------------------------------Services---------------------------*/

.servicesbody {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 25px;
}

.service {
    font-size: 1.5em;
    text-align: center;
}

.service:hover {
    text-decoration: none;
    color: #fca905;
}

.servicetext {
    font-size: 2em;
    text-align: center;
    margin-top: 30px;
    padding-top:0;
}

.modal-header {
    background-color: #0e2f63;
    color: #fff;
}

.modal-body {
    background-color: #efefef;
}

.modal-body p {
    font-size: 1.3em;
}

.modal-footer {
    background-color: #0e2f63;
}

.btn-primary {
    background-color: #fca905;
    
}

.btn-primary:hover {
    background-color: #e39802;
    
}


/*--------------------------------------------------Testimonials---------------------------*/
.quotes {
    font-size: 1.3em;
}

.testimonialbody {
    padding-top: 75px;
    padding-bottom: 50px;
}

.item {
    padding:25px;
}

.slidepic {
    margin-bottom: 10px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left {
    color: #0e2f63;
}

.carousel-control.right {
    color: #0e2f63;
}

.carousel-indicators {
    bottom: -10px;
}

.carousel-indicators li {
    background-color: #0e2f63;
}

/*--------------------------------------------------Hints&Tips---------------------------*/

.videoclips {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hintstipstext {
    font-size: 2em;
    text-align: center;
    padding-top:100px;
}

/*--------------------------------------------------Contact Us---------------------------*/

.contactbg {
    margin-top: 100px;
    font-size: 1.3em;
   
}

.contactmainbody {
    padding-top: 25px;
    padding-bottom: 25px;
    
}

#map {
    height:350px;
    width:100%;
    margin-bottom: 25px;
}

.submit {
    text-align: center;
    margin-top: 25px;
}

.contact {
    font-size: 1.3em;
    margin-bottom: 30px;
}

/*--------------------------------------------------Footer---------------------------*/

.foot {
    background-color: #0e2f63;
    min-height:50px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
}

.foot a{
    font-size: 1.3em;
    color: #fff;
}

.footitem a:hover {
    text-decoration: none;
    color: #fca905;
}

.btn-warning {
    background-color: #fca905;
    margin-top: -10px;
}

.btn-warning:hover {
    background-color: #e39802;
}

.footitem {
    margin-top: 10px;
}

.footitem1 {
    margin-top: 10px;
}

.footitem1 a:hover {
    color:#fff;
}

/*-----------------------------------------------Media Query--------------------*/

@media only screen and (min-width: 768px) {
    .main-body {height:110vh; padding-top: 130px}
    .contactbg {height:95vh;}
    .hintstipsbg {height:120vh; padding-top: 50px}
    .testimonialbody {height:120vh; padding-top: 150px}
}

@media only screen and (min-width: 992px) {
    .main-body {height:90vh; padding-top: 10vh}
    .logo-link {margin-top:50px;}
    .contactbg {height:78vh;}
    .hintstipsbg {height:90vh; padding-top: 2vh}
    .testimonialbody {height:90vh; padding-top: 20vh}
}
/*
@media only screen and (min-width: 1200px) {
    .main-body {height:92vh; padding-top: 80px}
    .logo-link {margin-top:60px;}
    .contactbg {height:78vh;}
    .hintstipsbg {height:90vh; padding-top: 10px}
    .testimonialbody {height:90vh; padding-top: 150px}
}*/

@media only screen and (max-width: 768px) {
    .footitem1 {margin-top: 25px;}
}

